<a href="https://colab.research.google.com/github/nandrom/senalesIII/blob/main/Proyecto_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np                     # Procesamiento numerico
import matplotlib.pyplot as plt        # graficos
import pandas as pd                    # Creacion y manejo de dataframes

from sklearn.cluster import KMeans     # para el clustering k-means
from sklearn.decomposition import PCA  # libreria para determinar las variables mas representativas

# Caracteristicas del dataset usado

In [2]:
num_datos = 699                        # cantidad de datos (muestras)
dent = int(num_datos*0.7)+1            # datos de entrenamiento   (verificar la cantidad de dtos para hacer la particion)
dpru = int(num_datos*0.3)              # datos de prueba
num_x = 9                              # numero de variables (caracteristicas)

kmax = 10                              # numero de clusters (se utilizara el algoritmo con diferente numero de clusters, esta variable determina el numero maximo de clusters, es necesario especificar el # maximo de clusters + 1)
itera = 300                            # numero maximo de iteraciones
tolerancia = 1e-6                      # tolerancia para la convergencia del algoritmo

# Lectura del dataset

In [11]:
Datos = pd.read_excel('Datos2.xlsx',dtype=int)         # leer el archivo de excel
df = pd.DataFrame(Datos)                              # Crear dataframe de los datos (matriz)
df.columns=["Id","D1","D2","D3","D4","D5","D6","D6","D8","D9","D10"]
df2=df.drop("Id",axis=1)
df=df2
df

     D1  D2  D3  D4  D5  D6  D6  D8  D9  D10
0     5   4   4   5   7  10   3   2   1    2
1     3   1   1   1   2   2   3   1   1    2
2     6   8   8   1   3   4   3   7   1    2
3     4   1   1   3   2   1   3   1   1    2
4     8  10  10   8   7  10   9   7   1    4
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
693   3   1   1   1   3   2   1   1   1    2
694   2   1   1   1   2   1   1   1   1    2
695   5  10  10   3   7   3   8  10   2    4
696   4   8   6   4   3   4  10   6   1    4
697   4   8   8   5   4   5  10   4   1    4

[698 rows x 10 columns]

# Se normaliza el dataset

In [12]:
#---------------------- normalizacion -----------------------------------------------------------------
def norm(df):                                         # Definicion de funcion de normalizacion
    return (df - df.min()) / ( df.max() - df.min())   # normalizacion

dfnorm = norm(df)                                     # llamado de la funcion normalizacion
dfnorm.to_excel("Datos normalizados.xlsx")            # se guardan los datos normalizados en un archivo de excel

#------ Visualizacion para verificar la normalizacion correcta ----------------------------------------

# ax = df['D6'].plot.hist(bins=20)
# ax.set_xlabel('Valores')
# ax.set_title('D1')
# plt.show()

# bx = dfnorm['D6'].plot.hist(bins=20)
# bx.set_xlabel('Valores')
# bx.set_title('D1')
# plt.show()

dfnorm

,D1,D2,D3,D4,D5,D6,D6,D8,D9,D10
0,0.444444,0.333333,0.333333,0.444444,0.666667,1.000000,0.222222,0.111111,0.000000,0.0
1,0.222222,0.000000,0.000000,0.000000,0.111111,0.111111,0.222222,0.000000,0.000000,0.0
2,0.555556,0.777778,0.777778,0.000000,0.222222,0.333333,0.222222,0.666667,0.000000,0.0
3,0.333333,0.000000,0.000000,0.222222,0.111111,0.000000,0.222222,0.000000,0.000000,0.0
4,0.777778,1.000000,1.000000,0.777778,0.666667,1.000000,0.888889,0.666667,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...
693,0.222222,0.000000,0.000000,0.000000,0.222222,0.111111,0.000000,0.000000,0.000000,0.0
694,0.111111,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.0
695,0.444444,1.000000,1.000000,0.222222,0.666667,0.222222,0.777778,1.000000,0.111111,1.0
696,0.333333,0.777778,0.555556,0.333333,0.222222,0.333333,1.000000,0.555556,0.000000,1.0
697,0.333333,0.777778,0.777778,0.444444,0.333333,0.444444,1.000000,0.333333,0.000000,1.0

# Se asignan los datos de entrenamiento y los de prueba

In [13]:
X = dfnorm.iloc[:,0:num_x]                    # creando el data frame de las caracteristicas
Y = dfnorm.iloc[:,num_x:num_x+1]              # Creando el data frame de las salidas esperadas Y
 
# Particion de datos
Xent = X.iloc[0:dent,:]                       # Datos de entrenamiento (caracteristicas)
Yent = Y.iloc[0:dent,:]                       # Datos de entrenamiento (salidas esperadas)

Xpru = X.iloc[dent:dent+dpru,:]               # Datos de prueba (caracteristicas)
Ypru = Y.iloc[dent:dent+dpru,:]               # Datos de prueba (salidas esperadas)